<!-- Footer -->
<footer class="navbar-fixed-bottom bg-info">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <p>Copyright &copy; Fancy4 2017</p>
            </div>
        </div>
    </div>
</footer>