<div class="row pad">
    <div class="col-sm-3 col-sm-offset-9">
        <div class="dropdown">
            <button class="btn btn-basic btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Logged In As: {{user.firstName}} {{user.lastName}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/profile">Account</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </div>
</div>