<!DOCTYPE html>
<head>

    {{> head}}

</head>
<body>

{{> nav}}

<!-- Page Content -->
<div id="pageBody" class="container padTop">
    {{{ body }}}

    {{> footer}}

</div>
<!-- /.container -->

{{> scripts}}

</body>
</html>
