<!DOCTYPE html>
<html>
<head>

    {{> head}}

</head>
<body>

{{> nav}}

<!-- Page Content -->
<div class="container">

    {{{ body }}}

    {{> footer}}

</div>
<!-- /.container -->

{{> scripts}}

</body>
</html>
