<h1>Login</h1>
<form action="/login" method="post">
    <label>
        <input name="username" type="text" placeholder="Username">
    </label>
    <label>
        <input name="password" type="password" placeholder="Password">
    </label>
    <input type="submit">
</form>