<h1>Login</h1>
{{#if message}}
    <h2>{{message}}</h2>
{{/if}}

<div class="login">
    <form action="/login" method="post">
        <label>
            <input name="username" type="text" placeholder="Username">
        </label><br>
        <label>
            <input name="password" type="password" placeholder="Password">
        </label><br>
        <input type="submit">
    </form>
</div>