

<div class="row" style="padding-top:50px;";>
    <div class="col-sm-8 col-sm-offset-2">
        <form action="/submit" method="POST">
            <div class="text-center">
                <h2>{{paper.title}}</h2>
                <label class="col-form-label">
                    Paper Citation
                </label>
                <p name="citation">{{paper.citation}}</p>
                <label class="col-form-label">
                    Paper Abstract
                </label>
                <p>{{paper.abstract}}</p>
            </div>
        </form>
        <button class="btn btn-danger" onclick="removePaper({{paper.id}})">Delete</button>
    </div>
</div>