<!-- Call to Action Well -->

{{> search}}

{{#each papers}}
    {{#if start}}
        <!-- Content Row -->
        <div class="row">
    {{/if}}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>{{paper.title}}</h2></div>
                <div class="panel-body"><p>{{paper.abstract}}</p></div>
                <div class="panel-footer">
                    <a class="btn btn-danger" href="/paper/{{paper.id}}"> More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-3 -->
    {{#if end }}
        </div>
        <!-- /.row -->
    {{/if}}
{{/each}}