<!-- Call to Action Well -->

<div class="well row">
    <div class="col-sm-3">
        <button class="btn pull-right" onclick="resetSearch()">Clear Search</button>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Search by</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="type">
                    <li><a name="title" href="#title"><span class="glyphicon glyphicon-text-size"/> Title</a></li>
                    <li><a href="#author"><span class="glyphicon glyphicon-map-marker"/> Author</a></li>
                    <li><a href="#keywords"><span class="glyphicon glyphicon-user"/> Keywords</a></li>
                </ul>
            </div>
            <input type="hidden" name="search_param" value="all" id="search_param">
            <input type="text" class="form-control" name="x" id="searchQuery" placeholder="Search term...">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="searchPapers()"><span
                            class="glyphicon glyphicon-search"></span></button>
                </span>
        </div>
    </div>
    <div class="col-sm-3">

        <!--<div class="dropdown">-->
        <!--<button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">-Filter-->
        <!--Papers--->
        <!--<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">HTML</a></li>-->
        <!--<li><a href="#">CSS</a></li>-->
        <!--<li><a href="#">JavaScript</a></li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>
    <!-- /.col-lg-12 -->
</div>

{{#if message}}
    <div class="message">{{message}}</div>
{{/if}}
<div id="papers">
    {{#each papers}}
        {{#if start}}
            <!-- Content Row -->
        <div class="row">
        {{/if}}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>{{paper.title}}</h2></div>
                <div class="panel-body"><p>{{paper.abstract}}</p></div>
                <div class="panel-footer">
                    <a class="btn btn-danger" href="/paper/{{paper.id}}"> More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-3 -->
        {{#if end }}
        </div>
            <!-- /.row -->
        {{/if}}
    {{/each}}
</div>