<h1>Signup</h1>
<form action="/signup" method="post">
    <label>
        <input name="username" type="text" placeholder="Email">
    </label>
    <label>
        <input name="firstname" type="text" placeholder="Bob">
    </label>
    <label>
        <input name="lastname" type="text" placeholder="Jones">
    </label>
    <label>
        <input name="password" type="password" placeholder="Password">
    </label>
    <input type="submit">
</form>