body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.login {
    margin-top: 5em;
}
.padTop{
    padding-top: 50px;
}
.pad{
    padding-bottom: 20px;
}